<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis.dao.StudentHealthFemaleMapper">
    <cache/>
    <resultMap id="studentHealthFemaleMap" type="studentHealthFemale">
        <id property="id" column="id"/>
        <result property="studentId" column="student_id"/>
        <result property="checkDate" column="check_date"/>
        <result property="heart" column="heart"/>
        <result property="uterus" column="uterus"/>
        <result property="note" column="note"/>
    </resultMap>
    <select id="findStudentHealthFemaleByStuId" parameterType="int" resultMap="studentHealthFemaleMap">
        select id,student_id,check_date,heart,uterus,note from  t_student_health_female
        where student_id=#{studentId}
    </select>
</mapper>